* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/* MAIN CONTAINER */
.app-container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 20vw;
  background: #183642;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
}

.sidebar a:hover {
  background: #245e63;
}

/* RIGHT SECTION */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: #313D5A;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.navbar button {
  background: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}

/* CONTENT */
.content-area {
  flex: 1;
  background: #EAEAEA;
  padding: 20px;
  overflow-y: auto;
}
